@model IEnumerable<makemesmarter.Models.CommentThread>
@{
    ViewBag.Title = "CommentSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tempModle = (IEnumerable < makemesmarter.Models.CommentThread >) ViewData["Model"];
    var text = (string)ViewData["text"];
    var commenter = (string)ViewData["commenter"];
    var author = (string)ViewData["author"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <label for="searchTxt" value="Comment Text">Comment Text</label><input class="cmntSearchinput" id="searchTxt" name="searchTxt" value="@text" placeholder="enter min 4 chars to search" />
        <label for="csearchTxt" value="Commenter">Commented by</label><input class="cmntSearchinput" id="csearchTxt" name="csearchTxt" value="@commenter" placeholder="enter commenter name" />
        <label for="asearchTxt" value="Commenter">Author</label><input class="cmntSearchinput" id="asearchTxt" name="asearchTxt" value="@author" placeholder="enter author name" />
        <button value="Search" onclick="window.location.href = '/CommentThreads/GetFilteredComments?&text=' + document.getElementById('searchTxt').value + '&commenter=' + document.getElementById('csearchTxt').value + '&author=' + document.getElementById('asearchTxt').value">Search</button>
    </div>
    <table>
        <tr>
            <th>
                PRID
            </th>
            <th>
                Comment
            </th>
            <th>
                PR Title
            </th>
            <th>
                Commentor
            </th>
            <th>
                Author
            </th>
        </tr>
        @if (tempModle != null)
        {
            foreach (var modle in tempModle)
            {
                <tr>
                    @{
                        var link = "https://msasg.visualstudio.com/DefaultCollection/Bing_UX/Bing_UX%20Teams/_git/snrcode/pullrequest/" + @modle.PullRequestId;
                        <td><a href="@link"> @modle.PullRequestId</a></td>
                        <td><p>@Html.Raw(modle.JoinedComments)</p></td>
                        <td>@modle.Status</td>
                        <td>@modle.CommentInitiator</td>
                        <td>@modle.PrAuthorId</td>
                    }
                </tr>
             }
         }
    </table>
</body>
</html>
